<form class="otp-Form">
  <div *ngIf="invalid" class="wrong-input">wrong otp!!</div>
  <span class="mainHeading">Enter OTP</span>
  <p class="otpSubheading">We have sent a verification code to your Email ID</p>
  <div class="inputContainer">
      <input #otp1 required="required" maxlength="1" type="text" class="otp-input" id="otp-input1" (input)="onInput(otp1, otp2)" (keydown)="onKeydown($event, otp1, null)">
      <input #otp2 required="required" maxlength="1" type="text" class="otp-input" id="otp-input2" (input)="onInput(otp2, otp3)" (keydown)="onKeydown($event, otp2, otp1)">
      <input #otp3 required="required" maxlength="1" type="text" class="otp-input" id="otp-input3" (input)="onInput(otp3, otp4)" (keydown)="onKeydown($event, otp3, otp2)">
      <input #otp4 required="required" maxlength="1" type="text" class="otp-input" id="otp-input4" (input)="onInput(otp4, otp5)" (keydown)="onKeydown($event, otp4, otp3)">
      <input #otp5 required="required" maxlength="1" type="text" class="otp-input" id="otp-input5" (input)="onInput(otp5, otp6)" (keydown)="onKeydown($event, otp5, otp4)">
      <input #otp6 required="required" maxlength="1" type="text" class="otp-input" id="otp-input6" (input)="onInput(otp6, null)" (keydown)="onKeydown($event, otp6, otp5)">
  </div>
  <button class="verifyButton" type="submit" (click)="verifyAccount()">Verify</button>
  <button class="exitBtn" type="button" (click)="closeDialog()">×</button>
  <p class="resendNote">Didn't receive the code? <button class="resendBtn" type="button" (click)="resendOTP()">Resend Code</button></p>
</form>

  
  
  