<!-- footer.component.html -->

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            123 Main Street<br>
            City, State ZIP<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890<br>
            <abbr title="Email">E:</abbr> google.com
          </address>
        </div>
      </div>
      <hr>
      <p class="text-muted text-center">© 2024 Your Website. All rights reserved.</p>
    </div>
  </footer>
  