<div class="card">
  <div class="image-container">
    <div>
      <img src="assets/images_courses/web-development.png" alt="">
    </div>


              
      <div class="price">$49.9</div>
  </div>


  <div class="content">
      <div class="brand">Platform_name</div>
      <div class="product-desc">Desc op;skfs sdmfsdkfsdkfsf dmfpdskf gdgdg fgdfgdfgf gfgfdgdf dfgdfgfdg fgdhfhfh fsfsgsgh drgdfgdhdh dhdhd sdfdskfpsd kfposdkfdskf gjlsdjg sdglsd dfmgldfjgldkg;dkg mldkgldkgkl</div>

      <div class="rating">Rating(29,062)</div>
  </div>

  <div class="button-container">
      <button class="buy-button button">Check it</button>

      <label class="favorite">
        <input checked="" type="checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
            <path d="M12 20a1 1 0 0 1-.437-.1C11.214 19.73 3 15.671 3 9a5 5 0 0 1 8.535-3.536l.465.465.465-.465A5 5 0 0 1 21 9c0 6.646-8.212 10.728-8.562 10.9A1 1 0 0 1 12 20z"></path>
        </svg>
      </label>
  </div>
</div>