<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> meta.codes - Animated Login and Registration Form </title>
</head>

<body>

    <div class="wrapper">
        <!-- <div class="form-wrapper sign-up" *ngIf="signUp">
            <form (ngSubmit)="onSubmit()">
                <h2>Sign Up</h2>
                <div class="input-group">
                    <input type="email" required [(ngModel)]="user.emailId" name="emailId">
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" required [(ngModel)]="user.password" name="password"> 
                    <label for="">Password</label>
                </div>
                <button type="submit" class="btn">Sign Up</button>
                <div class="sign-link">
                    <p>Already have an account? <a class="signIn-link" (click)="toggleSignIn()">Sign In</a></p>
                </div>
            </form>
        </div> -->

        <div class="login-container" *ngIf="signUp">
            <form class="login-form" (ngSubmit)="onSubmit()">
              <p class="heading">Sign Up</p>
              <p class="paragraph">Sign Up to create your account</p>
              <div class="input-group">
                <input
                  required [(ngModel)]="user.emailId" name="emailId"
                  placeholder="emailId"
                  type="email"
                />
              </div>
              <div class="input-group">
                <input
                  required [(ngModel)]="user.password"
                  placeholder="Password"
                  name="password"
                  type="password"
                />
              </div>
              <button type="submit">Sign Up</button>
              <div class="bottom-text">
                <p>Already have an account? <a (click)="toggleSignIn()">Sign In</a></p>
              </div>
            </form>
        </div>

        <div class="login-container" *ngIf="signIn">
            <form class="login-form" (ngSubmit)="onSubmitLoginInfo()">
              <p class="heading">Sign In</p>
              <p class="paragraph">Sign In to your account</p>
              <div class="input-group">
                <input
                  required [(ngModel)]="loginInfo.emailId" name="email"
                  placeholder="emailId"
                  type="email"
                />
              </div>
              <div class="input-group">
                <input
                  required [(ngModel)]="loginInfo.password"
                  placeholder="Password"
                  name="password"
                  type="password"
                />
              </div>
              <button type="submit">Sign In</button>
              <div class="bottom-text">
                <p>Don't have an account? <a (click)="toggleSignUp()">Sign Up</a></p>
                <p><a href="#">Forgot password?</a></p>
              </div>
            </form>
        </div>
    </div>
</body>

</html>
  