

<form class="search-bar">
    <input type="search" placeholder="Search..." [(ngModel)]="filteredString" [ngModelOptions]="{ standalone: true }">
    <button type="submit">Search</button>
</form>
<div class="wrapper">

    <ng-container  *ngFor="let topic of courseDetails">
        <ng-container *ngIf="topic.topicName === imageName">
            <!-- <form class="search-bar">
                <input type="search" placeholder="Search..." [(ngModel)]="filteredString" [ngModelOptions]="{ standalone: true }">
                <button type="submit">Search</button>
            </form> -->
            <ul class="card-container">
                <li class="card" *ngFor="let item of topic.courses|filter:filteredString" >
                    <div class="poster"><img [src]="item.imagePath" alt="Location Unknown"></div>
                    <div class="details">
                        <h1>{{item.CourseName}}</h1>
                        <div class="rating">
                            <span>4.2/5</span>
                        </div>
                        <div class="tags">
        
                        </div>
                        <p class="desc">
                            {{item.description}}
                        </p>
                        <div class="cast">
                            <h3>Cast</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
    </ng-container >
</div>

