


<div class="wrapper">
    <ng-container  *ngFor="let topic of courseDetails">
        <ng-container *ngIf="topic.topicName === imageName">
            <ul class="card-container">
                <li class="card" *ngFor="let t of topic.courses" >
                    <div class="poster"><img [src]="t.imagePath" alt="Location Unknown"></div>
                    <div class="details">
                        <h1>{{t.CourseName}}</h1>
                        <div class="rating">
                            <span>4.2/5</span>
                        </div>
                        <div class="tags">
        
                        </div>
                        <p class="desc">
                            {{t.description}}
                        </p>
                        <div class="cast">
                            <h3>Cast</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>

    </ng-container >
</div>

