<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CourseBay</title>
</head>


<!-- <app-home-component></app-home-component>

<app-course-list></app-course-list>

<app-footer></app-footer> -->

<!-- <app-user-wallet></app-user-wallet> -->

<!-- <app-profile-page></app-profile-page> -->

<!-- <app-social-media></app-social-media> -->

<!-- <app-saved-courses></app-saved-courses> -->

<!-- app.component.html -->
<div id="main-content">
  <app-home-component></app-home-component>
  <app-course-list></app-course-list>
</div>
<!-- <app-footer></app-footer> -->

