
<div *ngIf="showTopicList">
    <div class="background" [ngStyle]="{'background-image': 'url(\'assets/logoCB.jpeg\')'}">
    </div>


    <div class="courses-list" #scrollTarget>
      <br>
      <br>
      <div class="searchbox">
        <form class="search-bar">
          <input type="search" (click)="scrollToSearchResults()" placeholder="Search..." [(ngModel)]="courseFilter" [ngModelOptions]="{ standalone: true }" #searchResults class="search-input">
        </form>
      </div>
      <br>
      <div class="list-heading">
        <ul>
          <li (click)="getTopicList()">All</li>
          <li (click)="getTopicOfType('Software Engineering')">Software Engineering</li>
          <li (click)="getTopicOfType('Dev-Ops SRE')">Dev-Ops & SRE</li>
          <li (click)="getTopicOfType('Data Science & Analytics')">Data Science & Analytics</li>
          <!-- <li>Finance</li>
          <li>MBA</li> -->
        </ul>
      </div>
      <div class="card-container" *ngIf="!loading">
        <div class="card" *ngFor="let topic of topicList|filter:courseFilter" (click)="navigateToKourses(topic.topicName)">
          <img class="card-img" [src]="topic.imagePath" alt="ds-algo">
          <div class="card-info">
            <p class="text-title">{{topic.topicName}}</p>
            <!-- <p class="text-body">{{topic.description}}</p> -->
          </div>
        </div>
      </div>


      <app-footer></app-footer>
  </div>
</div>

<router-outlet *ngIf="!showTopicList"></router-outlet>








