<div *ngIf="showTopicList">
    <div class="background" [ngStyle]="{'background-image': 'url(\'assets/social-media/mybg.png\')'}">
        <br>
        <br>
    
        <div class="headline">
            <h1>FIND EVERY COURSE</h1>
            <h1>YOU NEED!!</h1>
            <br>
            <br>
        </div>
    
        <div>
            <div class="discount">
                <p><b>Get EXTRA discount on all courses you buy!!</b></p>
            </div>
        <br>
        <br>
    
    
            <form class="search-bar">
                <input type="search" placeholder="Search..." [(ngModel)]="courseFilter" [ngModelOptions]="{ standalone: true }" class="search-input">
                <!-- <button type="submit">Search</button> -->
            </form>
        </div>
    
    </div>
    
    <div class="courses-list" >

        <div class="list-heading">
            <h1>Topic List</h1>
        </div>
        <div class="card-container">

            <div class="image" *ngFor="let topic of topicList|filter:courseFilter">
    
                <div class="box" (click)="navigateToKourses(topic.topicName)">
                    <img class="image-box" [src]="topic.imagePath" alt="ds-algo" >
                    <div class="details"><b>{{topic.topicName}}</b></div>
                </div>
    
            </div>
    
        </div> 
    </div> 
    
</div>

<router-outlet *ngIf="!showTopicList"></router-outlet>



