<header>

  <div class="buttons-top">
    
    <div class="website-name">
      <h1 class="animated-text" role="banner" (click)="goToHomepage()">OmniLearn</h1>
    </div>
    
    <div class="login-button" (click)="openOverlay()" *ngIf="!login">
        <button>
          <span class="span-mother">
            <span>S</span>
            <span>i</span>
            <span>g</span>
            <span>n</span>
            <span>I</span>
            <span>n</span>
          </span>
          <span class="span-mother2">
            <span>S</span>
            <span>i</span>
            <span>g</span>
            <span>n</span>
            <span>I</span>
            <span>n</span>
          </span>
        </button>
    </div>
 
    <div class="btn" (mouseover) ="showDropDown()" *ngIf="login"></div>

    <div class="options" *ngIf="isHovered" (mouseleave)="showDropDown()">
        <a (click)="navigateToProfile()">Profile</a>
        <a (click)="logOut()">Logout</a>
        <a *ngIf="adminAcess" (click)="openAdminPage()">Admin</a>
    </div>

    <!-- <button mat-fab class="btn" matTooltip="Click to expand" (click)="showDropDown()" *ngIf="login"></button>
    <div class="dropdown" *ngIf="isHovered">
      <button mat-fab class="btn" matTooltip="Click to expand" (click)="showDropDown()" *ngIf="login"></button>
      <div class="dropdown-content">
        <div class="opt" (click)="navigateToProfile()">Profile</div>
        <br>
        <div class="opt" (click)="logOut()">Logout</div>
      </div>
    </div> -->



    <!-- <div class="dropdown" *ngIf="isHovered">
      <button class="dropbtn"><i class="fa fa-bars"></i></button>
      <div class="dropdown-content">
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
      </div>
    </div> -->

  </div>
</header>
